# .gitignore

# Help files
HELP.md

# Gradle files
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code files
.vscode/

# DB configuration files
src/main/resources/application-deployDB.yml
src/main/resources/application-localDB.yml
src/test/resources/application-testDB.yml
src/test/resources/application-mail.yml
src/test/resources/application-redis.yml