.member-page-container {
    padding: 10px;
}

div.custom {
    padding-top: 40px;
}

div.custom-right {
    padding-top: 20px;
    text-align: right;
}

.info-table,
.password-table {
    width: 100%;
    border-collapse: collapse;
}

h1.custom {
    margin: 0 0 10px 0;
    padding-left: 5px;
}

th.custom {
    text-align: left;
    height: 29px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #f7f7f7;
    width: 180px;
    border-top: 1px solid #000;
}

td.custom {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: white;
    border-top: 1px solid #000;
}

input.custom {
    width: 200px;
    height: 25px;
    box-sizing: border-box;
}

button.custom {
    margin-left: 10px;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #000;
    border-radius: 5px;
}

button.withdrawal-btn {
    padding: 4px 8px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
}
