@import "mixin.css";
@import "fonts.css";



.withdraw {
    font-family: "nanumSquareNeo";
    font-size: 20px;
}

.withdrawal-button{
    font-family: "nanumSquareNeo";
    font-size: 18px; /* 원하는 크기로 조절합니다. */
    text-align: center; 
    width: 150px; /* 원하는 너비로 조절합니다. */
    height: 35px; /* 원하는 높이로 조절합니다. */
    transform: translate(330%, 0%);
    border-radius : 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

